*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#svgelem {
    display: block;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color:#ffffff;
    width: 50px;
}
body {
    background-color: #fff;
    margin-top: 100px;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.container {
    background-color: rgb(15, 16, 18);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(15, 16, 18);
    width: 300px;
    margin: 0 auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
}
.container h2 {
    color: #fff;
    text-align: center;
    padding: 50px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #fff;
    color:#000;
}
.btn {
    background-color: #008dff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.btn:hover {
    background-color: #008dff;
    color:#000;
    transition: color 0.3s;
}
a{
    color:#008dff;
}
input{
    color: #008dff;
}
.custom-checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #fff; 
    border-radius: 10px; 
    margin-right: 10px;
    cursor: pointer;
}
.custom-checkbox input[type="checkbox"]:checked {
    background-color: #008dff; 
}
h1{
    color:#000;
    text-align: center;
    padding-bottom: 15px;
}
h3{
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.login-link{
    color: white;
    text-align: center;
}
.signup-link{
    color: white;
    
}