*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    background: #fff;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgb(15, 16, 18);
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    border-radius: 10px;
}
.todo-app h2{
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding:10px;
    font-weight: 14px;
    color: #000;
}
button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #008dff;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
    color: #fff;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:#555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: rgb(28, 30, 34);
}
#svgelem {
    display: block;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color:#ffffff;
    width: 50px;
    margin-top: 50px;
}
h1{
    color: #000;
    padding-top: 15px;
    text-align: center;
    font-size: 45px;
}
body{
    background-color: #fff;
}



  