@font-face {
  font-family: "San Francisco";
  font-weight: 300;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-content: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
  background-color: #000;
  display: inherit;
  min-height: 100vh;
}
#svgelem {
  display: block;
  height: 50px;
  width: 50px;
  margin-top: 50px;
  filter: invert(100%);
}

h1{
  text-align: center;
  color: #fff;
  padding-top: 50px;
}
h2{
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  padding-bottom: 50px;
  padding-top: 30px;

}
.dropdown {
  margin-bottom: 20px;
  width: 60%;
  margin-left: 375px;
  margin-right: 325px;
}
.dropdown-title {
  cursor: pointer;
  background-color: rgb(15, 16, 18);
  padding: 10px;
  border: 1px solid rgb(15, 16, 18);
  border-radius: 5px;
  transition:background-color 0.3s, color 0.3s;
  color: #fff;
  margin: 0 auto;
  flex-direction: column; /* Center the title within the container */
}
.dropdown-title:hover {
  background-color: #10a37f;
  color: rgb(15, 16, 18);
}
.dropdown-content {
  display: none;
  background-color: rgb(15, 16, 18);
  padding: 10px;
  border: 1px solid rgb(15, 16, 18);
  border-radius: 5px;
  margin-top: 10px;
  text-align: left;
}
.dropdown-content p {
  margin: 0;
  padding-bottom: 10px;
  color: #fff;
}
footer{
  text-align: center;
  font-weight: bold;
  padding: 50px;
  color: #fff;
}

  